* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
}

.box {
  padding: 20px 20px 20px 20px;
  border: 1px solid gray;
  border-bottom: 8px solid rgb(55, 52, 218);
  border-radius: 6px;
}

.fas {
  color: rgb(67, 67, 252);
}

.container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.smalltitle {
  padding: 0 0 5px 45px;
  font-size: 14px;
  color: rgb(163, 160, 160);
}

.id_form {
  padding: 0px 5px 5px 0px;
}

.id2,
.password2 {
  padding-left: 10px;
}

.id2 > input,
.password2 > input {
  width: 280px;
  height: 33px;
  padding-left: 5px;
}

.save {
  padding-top: 10px;
  padding-left: 80px;
}

.id_save {
  border: 1px;
  border-radius: 3px;
}
.id_save1 {
  padding-left: 20px;
  padding-right: 81px;
}

.id_submit {
  padding: 10px 24px 10px 24px;
  border: 1px;
  border-radius: 4px;
  background-color: rgb(55, 52, 218);
  color: white;
}
